@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}


* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  border: none;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

html, body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute; 
 
  font-family: 'Noto Sans SC', sans-serif;
  background-color: #000000;
}

.wrap {
  width: 100%;
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
  background-image: url("../images/bg.jpg")/*tpa=https://www.aaaje.com/binance/images/bg.jpg*/;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
    background-size:cover;
  overflow: hidden;
  position: absolute; 

}

#divcon{background:#eee; padding:5px; width:188px;}

@media (max-width: 768px) {
  .wrap {
    background-size: 400%;
  }
}

.logo {
  display: block;
  width: 300px;
  padding-top: 30px;
  padding-left: 30px;
}

.logo a {
  display: inline-block;
}

@media (max-width: 1366px) {
  .logo {
    width: 240px;
    padding-top: 21px;
    padding-left: 25px;
  }
}

@media (max-width: 576px) {
  .logo {
    width: 170px;
    padding-top: 18px;
    padding-left: 18px;
  }
}

@media (max-width: 576px) and (min-width: 400px) {
  .logo {
    width: 186px;
    padding-top: 16px;
    padding-left: 14px;
  }
}

.qrcode-wrap {
  position: relative;
  width: 170px;
  height: 170px;
  padding: 18px;
  margin: 400px auto 0;
  border-radius: 4px;
  visibility: hidden;
}

@media (max-width: 1680px) {
  .qrcode-wrap {
    margin: 370px auto 0;
  }
}

@media (max-width: 1440px) {
  .qrcode-wrap {
    margin: 230px auto 0;
  }
}

@media (max-width: 1366px) {
  .qrcode-wrap {
    width: 140px;
    height: 140px;
    padding: 12px;
    margin: 200px auto 0;
  }
}

@media (max-width: 1280px) {
  .qrcode-wrap {
    margin: 155px auto 0;
  }
}

@media (max-width: 768px) {
  .qrcode-wrap {
    display: none;
  }
}

.qrcode-wrap:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e10019), to(#710511));
  background-image: linear-gradient(#e10019, #710511);
  border-radius: 4px;
  -webkit-box-shadow: 0px 12px 14.4px 1.6px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 12px 14.4px 1.6px rgba(0, 0, 0, 0.4);
  opacity: 0.92;
}

.qrcode-wrap img {
  position: relative;
  z-index: 2;
  -webkit-box-shadow: 0px 6px 9.4px 0.6px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 6px 9.4px 0.6px rgba(0, 0, 0, 0.5);
}

.link-list-wrap {
  margin-top: 20px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .link-list-wrap {
	padding-top: 0px;
    margin-top: 0;
  }
}

@media (max-width: 576px) {
  .link-list-wrap {
    padding-top: 288px;
  }
}

@media (width: 411px) and (height: 823px) {
  .link-list-wrap {
    padding-top: 400px;
  }
}

@media (width: 375px) and (height: 812px) {
  .link-list-wrap {
    padding-top: 380px;
  }
}

@media (width: 411px) and (height: 731px) {
  .link-list-wrap {
    padding-top: 338px;
  }
}

@media (width: 360px) and (height: 640px) {
  .link-list-wrap {
    padding-top: 256px;
  }
}

@media (width: 414px) and (height: 736px) {
  .link-list-wrap {
    padding-top: 340px;
  }
}

@media (width: 375px) and (height: 667px) {
  .link-list-wrap {
    padding-top: 280px;
  }
}

@media (width: 320px) and (height: 568px) {
  .link-list-wrap {
    padding-top: 208px;
  }
}

.link-list {
  font-size: 0;
  text-align: center;
}

.link-list li {
  position: relative;
  display: block;
  display: inline-block;
  width: calc((100% - 132px) / 3);
  max-width: 240px;
  height: 66px;
  margin-right: 40px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media (max-width: 1366px) {
  .link-list li {
    width: 220px;
    height: 60px;
    margin-right: 30px;
  }
}

@media (max-width: 768px) {
  .link-list li {
    margin-right: 17px;
  }
}

@media (max-width: 576px) {
  .link-list li {
    display: block;
    width: 160px;
    height: 42px;
    margin: 0 auto 13px auto;
  }
}

@media (width: 411px) and (height: 823px) {
  .link-list li {
    width: 180px;
    height: 48px;
  }
}

@media (width: 375px) and (height: 812px) {
  .link-list li {
    width: 180px;
    height: 46px;
    margin: 0 auto 18px auto;
  }
}

@media (width: 320px) and (height: 568px) {
  .link-list li {
    width: 140px;
    height: 40px;
    margin: 0 auto 10px auto;
  }
}

.link-list li:last-child {
  margin-right: 0;
}

@media (max-width: 768px) {
  .link-list li:last-child {
    margin: 0 auto;
  }
}

.link-list li:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0.9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d9061d), to(#66040f));
  background-image: linear-gradient(#d9061d, #66040f);
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 7.4px 0.6px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 8px 7.4px 0.6px rgba(0, 0, 0, 0.6);
}

@media (max-width: 768px) {
  .link-list li:after {
    opacity: 1;
  }
}

.link-list li a {
  display: block;
  position: relative;
  z-index: 2;
  font-size: 28px;
  font-weight: 500;
  line-height: 66px;
  letter-spacing: -0.28px;
  color: rgba(248, 248, 248, 0.9);
  border-radius: 2px;
}

@media (max-width: 1366px) {
  .link-list li a {
    font-size: 26px;
    line-height: 60px;
  }
}

@media (max-width: 576px) {
  .link-list li a {
    font-size: 20px;
    line-height: 42px;
  }
}

@media (width: 411px) and (height: 823px) {
  .link-list li a {
    line-height: 48px;
  }
}

@media (width: 375px) and (height: 812px) {
  .link-list li a {
    line-height: 46px;
  }
}

@media (width: 320px) and (height: 568px) {
  .link-list li a {
    font-size: 18px;
    line-height: 40px;
  }
}

.link-list li:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.description-wrap {
  min-height: 144px;
  margin-top: 26px;
  background-color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 1024px) {
  .description-wrap {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .description-wrap {
    height: auto;
    margin-top: 49px;
    background-color: transparent;
  }
}

@media (max-width: 576px) {
  .description-wrap {
    margin-top: 34px;
  }
}

@media (width: 411px) and (height: 823px) {
  .description-wrap {
    margin-top: 40px;
  }
}

@media (width: 375px) and (height: 812px) {
  .description-wrap {
    margin-top: 40px;
  }
}

@media (width: 360px) and (height: 640px) {
  .description-wrap {
    margin-top: 30px;
  }
}

@media (width: 414px) and (height: 736px) {
  .description-wrap {
    margin-top: 38px;
  }
}

@media (width: 320px) and (height: 568px) {
  .description-wrap {
    margin-top: 25px;
  }
}

.description-list {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-size: 0;
}

.description-list li {
  display: inline-block;
  position: relative;
  width: calc((100% - 8px) / 2);
  height: 100%;
  padding-top: 26px;
  padding-bottom: 34px;
  margin-right: 8px;
}

@media (max-width: 768px) {
  .description-list li {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0 0 36px 0;
  }
}

@media (max-width: 576px) {
  .description-list li {
    margin: 0 0 27px 0;
  }
}

@media (width: 411px) and (height: 823px) {
  .description-list li {
    margin-bottom: 30px;
  }
}

@media (width: 375px) and (height: 812px) {
  .description-list li {
    margin-bottom: 30px;
  }
}

@media (width: 360px) and (height: 640px) {
  .description-list li {
    margin-bottom: 22px;
  }
}

@media (width: 414px) and (height: 736px) {
  .description-list li {
    margin-bottom: 29px;
  }
}

.description-list li:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#6a0108), to(rgba(226, 19, 32, 0.6)));
  background-image: linear-gradient(to top, #6a0108, rgba(226, 19, 32, 0.6));
  opacity: .14;
}

@media (max-width: 768px) {
  .description-list li:before {
    display: none;
  }
}

.description-list li:first-child .txt-container {
  margin-right: 94px;
  margin-left: auto;
}

@media (max-width: 960px) {
  .description-list li:first-child .txt-container {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .description-list li:first-child .txt-container {
    margin: 0;
  }
}

.description-list li:last-child {
  margin-right: 0;
}

@media (max-width: 768px) {
  .description-list li:last-child {
    margin: 0;
  }
}

.description-list li:last-child .txt-container {
  margin-left: 94px;
  white-space: nowrap;
}

@media (max-width: 960px) {
  .description-list li:last-child .txt-container {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .description-list li:last-child .txt-container {
    margin: 0;
  }
}

.description-list li .txt-container {
  width: 400px;
  text-align: center;
}

@media (max-width: 960px) {
  .description-list li .txt-container {
    width: auto;
  }
}

#new-content{
	padding: 0 8rem 0;
	margin: 50px auto 150px;
    height: 180px;
	position: relative;
}

#new-content h1 {
    font-size: 3rem;
    line-height: 1;
	color: #ffffff;
	margin: 0 0 2rem 0;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 900;
    letter-spacing: 0.075em;
    text-transform: uppercase;
	vertical-align: baseline;
	text-align: center;
}

#new-content p {
	font-size: 1.25rem;
	line-height: 24px;　
    margin-top: -0.25rem;
    text-align: center;
	margin: 0 0 2rem 0;
	vertical-align: baseline;
	color: #ffffff;
}
  
@media (max-width: 768px) {
  #svg-logo {
	height: 40px;
  }

  #new-content{
	padding: 0 2rem 0;
  }
	
  #new-content h1 {
	font-size: 2rem;
  }
  
  .link-list li {
	width: 120px;
  }
}

@media (max-width: 1366px) {

}

@media (max-width: 576px) {
	#svg-logo {
		height: 40px;
	}
  
	#new-content{
		padding: 0 1rem 0;
		margin: 50px auto 150px;
	}
	.link-list-wrap {
		padding-top: 0px;
	}
  
	.link-list li {
		width: 120px;
	}
}

@media (max-width: 576px) and (min-width: 400px) {

}

.description-list li:before {
	background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(15, 18, 23)), to(rgba(15, 18, 23, 0.6)));
    background-image: linear-gradient(to top, rgb(15, 18, 23), rgba(15, 18, 23, 0.6));
}

.link-list li:after {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F0B90B), to(#F0B90B));
    background-image: linear-gradient(#F0B90B, #F0B90B);
}

.description-list li h2 {
	font-size: 30px;
}

.description-list li h2 {
  position: relative;
  z-index: 2;
  font-family: 'Ariel, 'Microsoft Yahei', '微软雅黑';
  font-size: 35px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 0.84px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffffa7), color-stop(#f1cc50), color-stop(#ffffa7), to(#efc544)), -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.9)));
  background-image: linear-gradient(to top, #ffffa7, #f1cc50, #ffffa7, #efc544), linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: .9;
}

@media (max-width: 1366px) {
  .description-list li h2 {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .description-list li h2 {
    font-size: 42px;
  }
}

@media (max-width: 576px) {
  .description-list li h2 {
    font-size: 26px;
  }
}

@media (width: 360px) and (height: 640px) {
  .description-list li h2 {
    font-size: 24px;
  }
}

@media (width: 320px) and (height: 568px) {
  .description-list li h2 {
    font-size: 22px;
  }
}

.description-list li h2 .sm-text {
  font-size: 23px;
}

@media (max-width: 768px) {
  .description-list li h2 .sm-text {
    font-size: 30px;
  }
}

@media (max-width: 576px) {
  .description-list li h2 .sm-text {
    font-size: 19px;
  }
}

.description-list li p {
  position: relative;
  z-index: 2;
  margin-top: 16px;
  font-size: 23px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 1366px) {
  .description-list li p {
    margin-top: 16px;
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .description-list li p {
    font-size: 23px;
    letter-spacing: -0.25px;
    color: rgba(255, 255, 255, 0.8);
  }
}

@media (max-width: 576px) {
  .description-list li p {
    margin-top: 7px;
    font-size: 16px;
  }
}
